@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3d3d3d;
    position: relative;
}

.colorBgComponent {
    width: 900px;
    height: 900px;
    background-image: radial-gradient(closest-side, rgb(1, 163, 0, 0.4), #3d3d3d);
    position: absolute;
    top: -570px;
    left: 25%;
}